:root {
    --primary: #10b981;
    --dark: #047857;
    --accent: #f43f5e;
    --dark-gray: #374151;
    --text: #333;
    --text-light: #ecfdf5;
    --divider: #e5e7eb;
    --font-family: "Muli", sans-serif;
    --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
